@tailwind base;
@tailwind components;
@tailwind utilities;

.transparent {
    background: rgba(34, 37, 44, 0.80);
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --background-primary: #13131A;
        --background-secondary: #1C1C24;
        --background-tertiary: #292932;
        --light-background-tertiary: #F7F8F9;
        --foreground: 222.2 84% 4.9%;

        --brand-primary: #E14658;
        --text-primary: #556987;
        --text-secondary: #97ABC0;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --dark-border: #252D3C;
        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background-primary text-foreground;
    }
}